body {
    background-color: #393E46;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/787/612/original/3d-realistic-earth-australia-4k-png.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    body {
        background-size:contain;
        background-position:center;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-size:cover;
        background-position:bottom;
    }
}

h1 {
    margin: 65px 0 0;
    padding: 0;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        margin-top: 180px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    }
}

.highlight-white { 
    color: #EEEEEE;
}

.highlight-yellow { 
    color: #00ADB5;
}

.start {
    background-color: rgba(255, 255, 255, 0.9);
    color: #222831;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-out;
}

.start:hover {
    background-color: #00ADB5;
    color: #fff;
}

.topnav {
    position: relative;
    background-color: #222831;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .topnav a:hover {
    background-color: #363b43;
  }
  
  .topnav a.active {
    background-color: #393E46;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }

  @media screen and (max-width: 768px) {
    .start {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .start {
        font-size: 25px;
    }
}


  

  
