body {
    background-color: #393E46;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/787/612/original/3d-realistic-earth-australia-4k-png.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: -80px 0 0;
    padding: 0;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 100px;
    }
    .error-message {
        font-size: 20px;
    }
}

.start {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-out;
}

.start:hover {
    background-color: #00ADB5;
    color: #fff;
    transform: scale(1.05);
}

.start:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00ADB5, 0 2px 4px rgba(0, 0, 0, 0.3);
}

.start:active {
    transform: translateY(1px);
}

.input {
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 10px auto;
    border-radius: 8px;
    border-color: #00ADB5;
}

.input:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.register-now {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 0px;
}

.hyperlink {
    color: #00ADB5;
    text-decoration: none;
    font-weight: bold;
}

.hyperlink:hover {
    color: #008289;
    text-decoration: underline;
}

.forgot-passcode {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}

.error-message {
    color: #00ADB5;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .error-message {
        font-size: 25px;
    }

}

.error-input {
    border: 2px solid #00ADB5;
}

#backButton {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255, 0.9);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  #backButton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(225deg);
    width: 12px;
    height: 12px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
  }
