/* Define how the body of main page look like */
body {
    background-color: #393E46;
    /* Ensure the image is resized to cover the whole available background */
    background-size: cover;
    /* Ensure the image is displayed only once */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* Ensure the body will cover all the height of viewport */
    height: 100vh;
    /* Enable the use of flexbox properties*/
    display: flex;
    /* Aligning elements horizontally*/
    /* Aligning elements vertically*/
    flex-direction: column;
}


/* Define how the header of main page look like */
h1 {
    padding: 0;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.250);
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    box-shadow: none;
}

/* Adjust header appearance when using phones or tablets */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 10px;
    }
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 8px;
    padding: 0px 8px;
}

/* Coloring "Geo" */
.highlight-white { 
    color: #EEEEEE;
}

/* Coloring "Fact" */
.highlight-yellow { 
    color: #00ADB5;
}

/* "Play" button */
.start {
    background-color: #EEEEEE;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    /* "Changing cursor to a pointer when hovered */
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Animation (changing color with scaling and then easing */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-out;
}

/* Style of the button when it is hovered */
.start:hover {
    background-color: gold;
    color: #fff;
    /* Scale when hovered */
    transform: scale(1.05);
}

/* Style of the button when it is clicked */
.start:focus {
    /* Remove default outline */
    outline: none;
    box-shadow: 0 0 0 2px gold, 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Animation of the button when it is clicked */
.start:active {
    transform: translateY(1px);
}
/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #222831;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.250);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #393E46;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #393E46;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }

  /* Styles for tablets */
@media screen and (max-width: 768px) {
    .topnav a {
      font-size: 14px;
    }
  }
  
  /* Styles for mobile phones */
  @media screen and (max-width: 480px) {
    .topnav a {
      font-size: 12px;
    }
  }

  /* Styles for form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  select {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
  }
  
  button.start {
    margin-top: 0;
    margin-bottom: 40px;
  }


  .mapdiv {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.mapdiv svg {
    width: 100%;
    height: 100%;
}

.mapdiv path {
    fill:#EEEEEE;
    stroke: #000000;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mapdiv path:hover {
    fill: #00ADB5;
}

.mapdiv .zoom-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(102, 72, 21);
}

.mapdiv .zoom-controls button {
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color:rgb(102, 72, 21);
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Quiz {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: #222831; /* Black background with 0.5 opacity */
  color: #EEEEEE; /* Grey text */
 /* Full width */
  padding: 20px; /* Some padding */
  border-radius: 8px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;}
  

  .highlight_red {
    text-decoration: underline;
    color: #00ADB5;
  }

  .Quiz2 {
    position: fixed; /* Position the background text */
    top: 30%;
    left: 0%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: #222831; /* Black background with 0.5 opacity */
    color: #EEEEEE; /* Grey text */
   /* Full width */
    padding: 20px; /* Some padding */
    border-radius: 20px;
    width: 10%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;}
    