/* Define how the body of main page look like */
body {
    background-image: url("https://images.pexels.com/photos/9494908/pexels-photo-9494908.jpeg?cs=srgb&dl=pexels-nothing-ahead-9494908.jpg&fm=jpg");
    /* Ensure the image is resized to cover the whole available background */
    background-size: cover;
    /* Ensure the image is displayed only once */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* Ensure the body will cover all the height of viewport */
    height: 100vh;
    /* Enable the use of flexbox properties*/
    display: flex;
    /* Aligning elements horizontally*/
    justify-content: center;
    /* Aligning elements vertically*/
    align-items: center;
    flex-direction: column;
}

/* Define how the header of main page look like */
h1 {
    margin: -80px 0 0;
    padding: 0;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Adjust header appearance when using phones or tablets */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 100px;
    }
}

/* "Register" button */
.start {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    /* "Changing cursor to a pointer when hovered */
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Animation (changing color with scaling and then easing */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-out;
}

/* Style of the button when it is hovered */
.start:hover {
    background-color: gold;
    color: #fff;
    /* Scale when hovered */
    transform: scale(1.05);
}

/* Style of the button when it is clicked */
.start:focus {
    /* Remove default outline */
    outline: none;
    box-shadow: 0 0 0 2px gold, 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Animation of the button when it is clicked */
.start:active {
    transform: translateY(1px);
}

/* Input box style */
.input {
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 10px auto;
    border-radius: 8px;
    border-color: gold;
}

/* Input box style when it is hovered */
.input:hover {
    background-color: rgb(255, 255, 255);
    /* Scale when hovered */
    transform: scale(1.05);
}

.register-now {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 0px;
}

.hyperlink {
    color: rgb(231, 113, 29);
    text-decoration: none;
    font-weight: bold;
}

.hyperlink:hover {
    color: gold;
    text-decoration: underline;
}

.forgot-passcode {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}

.error-message {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.error-input {
    border: 2px solid red;
}

