<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoFact</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\index.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
</head>
<body>
     <!-- Navbar -->
     <nav class="topnav">
        <a href="/"><span class="highlight-white">Geo</span><span class="highlight-yellow">Test</span></a>
        <div class="topnav-right">
            {% if session.user_id %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>
    </nav>
    <!--Apply to different styles to parts of header-->
    <h1><span class="highlight-white">Test your</span><span class="highlight-yellow">Geo<span class="highlight-white">Knowledge</span></span></h1>
    <!--Play button-->
    <form action="/main">
        <button class="start" type="submit">Play</button>
    </form>
</body>
</html>