<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoFact</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\index.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
</head>
<body>
     <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <h2><span class="highlight-white">Geo</span><span class="highlight-yellow">Fact</span></h2>
            <ul class="nav-links nav-links-right">
                {% if session.user_id %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--Apply to different styles to parts of header-->
    <h1><span class="highlight-white">Test your Geo</span><span class="highlight-yellow">Knowledge</span></h1>
    <!--Play button-->
    <form action="/login">
        <button class="start" type="submit">Play</button>
    </form>
</body>
</html>