<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoFact</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\login.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
</head>
<body>
    <!--Forms to fill username and password-->
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto input" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto input" id="password" name="password" placeholder="Password" type="password">
    </div>
    <form action="/">
        <button class="start" type="submit">Login</button>
    </form>
    <!--Register and forgot password-->
    <p class="register-now">Don't have an account? <a href="/register" class="hyperlink">Register now</a></p>
    <p class="forgot-passcode">Forgot your password? <a href="/register" class="hyperlink">Reset it</a></p>
</body>
</html>