<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoFact</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\main.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
</head>
<body>
    <!-- Navbar -->
    <nav class="topnav">
        <a href="/main"><span class="highlight-white">Geo</span><span class="highlight-yellow">Fact</span></a>
        <div class="topnav-centered">
            {% if session.user_id %}
                <a href="/user">{{ session.username }}</a>
            {% endif %}
        </div>
        <div class="topnav-right">
            <a href="/settings">Settings</a>
        </div>
    </nav>

    <form action="/play" method="post">
        <button class="start" type="submit" name="difficulty" value="easy">Easy</button>
        <button class="start" type="submit" name="difficulty" value="medium">Medium</button>
        <button class="start" type="submit" name="difficulty" value="hard">Difficult</button>
        <button class="start" type="submit" name="difficulty" value="all">All countries</button>
        <button class="start" type="submit" name="difficulty" value="europe">Europe</button>
        <button class="start" type="submit" name="difficulty" value="asia">Asia</button>
        <button class="start" type="submit" name="difficulty" value="africa">Africa</button>
        <button class="start" type="submit" name="difficulty" value="north_america">North America</button>
        <button class="start" type="submit" name="difficulty" value="south_america">South America</button>
        <button class="start" type="submit" name="difficulty" value="oceania">Oceania</button>
    </form>
</body>
</html>