<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoFact</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\mode1.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
    <script src="static\mode1.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="topnav">
        <a href="/"><span class="highlight-white">Geo</span><span class="highlight-yellow">Test</span></a>
        <div class="topnav-centered">
            {% if session.user_id %}
                <a href="/user">{{ session.username }}</a>
            {% endif %}
        </div>
        <div class="topnav-right">
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="Quiz">
            {% if count is not defined or count <= max_score - 1 %}
            <h1>Find <span id="country" class="highlight_red">{{ country }}</span> on the map!</h1>
            {% elif count == max_score or count >= max_score %}
            <h1>Your score: {{ score }}/{{ max_score }}</h1>
            {% endif %}
        </div>
    </div>
    {% if count is not defined or count <= max_score - 1%}
            {% elif count == max_score or count >= max_score %}
            <a href="/main" class="start">Play Again</a>
            {% endif %}
    
            {% if count is not defined or count <= max_score - 1  %}
            <div class="container">
                <div class="Quiz2">
            <h1>Score: {{ score }}</h1>
            <h1>{{ result }} </h1>
        </div>
    </div>
            {% elif count == max_score or count >= max_score - 1 %}
            {% endif %} 
    {% include "map.html" %}
</body>
</html>