<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Device responsiveness-->
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>GeoTest</title>
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="static\register.css">
    <!--Add favicon-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2784/2784487.png">    
</head>
<body>
    <button id="backButton" onclick="goBack()"></button>
    <!--Forms to fill username and password-->
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto input" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto input" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto input" id="confirmation" name="confirmation" placeholder="Repeat Password" type="password">
        </div>
        <button class="start" type="submit">Register</button>
    </form>

    {% if apology_message %}
    <div class="error-message">
        {{ apology_message }}
    </div>
    {% endif %}
    <script src="static\login&register.js"></script>
</body>
</html>